<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page - Meus Livros</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">  
</head>
<body>
  <!-- Navegação -->

  <div class="container">
    <nav>
    <h1>Meus Livros</h1>    
  </nav>

  <!-- Painel com rolagem -->
  <section class="painel">
    {% for livro in livros %}
    <div class="card">
      <img src="{{url_for('static', filename='images/' + livro.capa)}}" alt="Capa do Livro" class="book-img">
      <div class="body">
        <h2>{{livro.titulo}}</h2>
        <p>{{livro.descricao}}</p>
        <a href="#" class="btn">ver mais</a>
      </div>
    </div>
    {% endfor %}
  </section>
  </div>

  
</body>
</html>
